<h1 class="text-center black-and-blue-text">SIGN IN</h1>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
    <%= f.label :email, class: "session-label black-and-blue-text" %>
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "session-field" %>
  </div>

  <div class="field">
    <%= f.label :password, class: "session-label black-and-blue-text" %>
    <%= f.password_field :password, autocomplete: "current-password", class:"session-field" %>
  </div>

  <% if devise_mapping.rememberable? %>
    <div class="field remember-me">
      <%= f.check_box :remember_me%>
      <%= f.label :remember_me, class: "black-and-blue-text" %>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit "LOGIN", class: "show-submit-button sign-in" %>
    <%= render "devise/shared/links" %>
  </div>
<% end %>

