<!DOCTYPE html>
<html>
<head>
  <title>RailsStaffGroupProject</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <script type="text/javascript"></script>

  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="top-bar">
    <div class="top-bar-left">
      <ul class="menu">
        <li class="menu-text"><a href="/">CodeJam <%= fa_icon "code" %></a></li>
      </ul>
    </div>
    <div class="top-bar-right">
      <ul class="menu">
        <a href="/projects">FIND</a>
        <a href="/host">HOST</a>
        <a href="/my_projects">MY PROJECTS</a>
        <% if !current_user %>
          <a href="/login">LOGIN</a>
          <a href="/signup">SIGN UP</a>
        <% else %>
          <a href="/logout">LOGOUT</a>
        <% end %>
      </ul>
    </div>
  </div>
  

  <%- flash.each do |key, value| -%>
    <div class="flash-container">
      <div class="flash flash-<%= key %>">
        <%= value %><button class="x-button"><%= fa_icon "times-circle", class: "fa-lg" %></button>
      </div>
    </div>
  <%- end -%>

  <%= yield %>

  <%= javascript_include_tag 'application' %>
  
  <%- if Rails.env.development? || Rails.env.test? -%> 
    <%= javascript_tag do %>
      window.railsEnv = '<%= Rails.env %>'
    <%- end -%>
  <%- end -%>
  <%= javascript_pack_tag 'application' %>
  
  <%= yield :extra_footer %>
</body>
</html>
